ul {
    color: red;
    list-style-type: decimal;
}

li>ul>li {
    font-weight: bold;
    color: green;
    list-style-type: lower-latin;
}

li>ul>li>ul>li {
    font-weight: normal;
    color: blue;
    list-style-type:square;
}

